<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/webjars/bootstrap/css/bootstrap.min.css"  type="text/css" rel="stylesheet">
    <title>CRUD MANY to MANY</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" th:href="@{/}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled">Disabled</a>
              </li>
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
      <h2 th:text="${errors}"></h2>
    <div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>
    <div class="container">
      <h2>Total sks</h2>
      
  </div>
  <div class="row">
    <div class="table-responsive col-md-6">
      <table class="table">
        <thead>
          <tr>
            <td>nama mahasiswa</td>
          </tr>
        </thead>
        <tbody>
          <tr th:each="m : ${kelasNama}">
            <td th:text="${m}">a</td>
          </tr>
        </tbody>
      </table>
  </div>
  <div class="table-responsive col-md-6">
      <table class="table">
        <thead>
          <tr>
            <td>total sks</td>
          </tr>
        </thead>
        <tbody>
          <tr th:each="k : ${kelasSKS}">
            <td th:text="${k}">a</td>
          </tr>
        </tbody>
      </table>
  </div>
  </div>
  

    <div class="container">
      <h2>Table Kelas</h2>
  </div>
  <div class="container">
      <table class="table">
          <thead>
              <tr>
                  <th>nama kelas</th>
                  <th>id mahasiswa</th>
                  <th>nama mahasiswa</th>
                  <th>nama matakuliah</th>
                  <th>jumlah sks</th>
                  <th>Action</th>
              </tr>
          </thead>
          <tbody>
              <tr th:each="kls : ${kelas}">
                  <td th:text="${kls.nama_kelas}"></td>
                  <td th:text="${kls.mahasiswa.id}"></td>
                  <td th:text="${kls.mahasiswa.nama}"></td>
                  <td th:text="${kls.matakuliah.nama}"></td>
                  <td th:text="${kls.matakuliah.sks}"></td>
                  <td>
                    <a class="btn btn-danger"th:href="@{'/deleteKelas/'+${kls.mahasiswa.id}+'/'+${kls.matakuliah.id}}">Delete</a>
                  </td>
              </tr>
          </tbody>
      </table>
  </div>
  <div class="container">
      <a class="btn btn-primary" th:href="@{/addkelas}">Add Kelas</a>
  </div>
  <br>

    <div class="container">
        <h2>Table Mahasiswa</h2>
    </div>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>nama</th>
                    <th>NIM</th>
                    <th>Jenis Kelamin</th>
                    <th>Tempat Lahir</th>
                    <th>Tanggal Lahir</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="mhs : ${mahasiswa}">
                    <td th:text="${mhs.id}"></td>
                    <td th:text="${mhs.nama}"></td>
                    <td th:text="${mhs.NIM}"></td>
                    <td th:text="${mhs.jenis_kelamin}"></td>
                    <td th:text="${mhs.tempat_lahir}"></td>
                    <td th:text="${mhs.tanggal}"></td>
                    <td>
                      <a class="btn btn-danger"th:href="@{'/deleteMahasiswa/'+${mhs.id}}">Delete</a>
                      <a class="btn btn-primary"th:href="@{'/updateMahasiswa/'+${mhs.id}}">Update</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="container">
        <a class="btn btn-primary" th:href="@{/addmahasiswa}">Add Mahasiswa</a>
    </div>
    <br>

    <div class="container">
      <h2>Table MataKuliah</h2>
  </div>
  <div class="container">
      <table class="table">
          <thead>
              <tr>
                  <th>#</th>
                  <th>nama</th>
                  <th>SKS</th>
                  <th>Action</th>
              </tr>
          </thead>
          <tbody>
              <tr th:each="mk : ${matakuliah}">
                  <td th:text="${mk.id}"></td>
                  <td th:text="${mk.nama}"></td>
                  <td th:text="${mk.sks}"></td>
                  <td>
                    <a class="btn btn-danger"th:href="@{'/deleteMatkul/'+${mk.id}}">Delete</a>
                    <a class="btn btn-primary"th:href="@{'/updateMatkul/'+${mk.id}}">Update</a>
                  </td>
              </tr>
          </tbody>
      </table>
  </div>
  <div class="container">
      <a class="btn btn-primary" th:href="@{/addmatkul}">Add Mata Kuliah</a>
  </div>
  <br>
    
    
    <script src="/webjars/bootstrap/js/bootstrap.bundle.min.js" type="text/javascript"></script>
</body>
</html>