<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/webjars/bootstrap/css/bootstrap.min.css"  type="text/css" rel="stylesheet">
    <title>CRUD MANY to MANY</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" th:href="@{/}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled">Disabled</a>
              </li>
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
    <h1>
        CRUD MANY to MANY
    </h1>
    <div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>
   

    <div class="container">
      <h2>Table Dosen</h2>
  </div>
  <div class="container">
      <table class="table">
          <thead>
              <tr>
                  <th>nama</th>
                  <th>NIP</th>
                  <th>Gelar</th>
                  <th>strata</th>
                  <th>jurusan</th>
                  <th>sekolah</th>
                  <th>tahun mulai</th>
                  <th>tahun selesai</th>
                  <th>Action</th>
              </tr>
          </thead>
          <tbody>
              <tr th:each="rp : ${riwpen}">
                  <td th:text="${rp.dosen.nama}"> </td>
                  <td th:text="${rp.dosen.NIP}"> </td>
                  <td th:text="${rp.dosen.gelar}"> </td>
                  <td th:text="${rp.strata}"></td>
                  <td th:text="${rp.jurusan}"></td>
                  <td th:text="${rp.sekolah}"></td>
                  <td th:text="${rp.tahun_mulai}"></td>
                  <td th:text="${rp.tahun_selesai}"></td>
                  <td>
                    <a class="btn btn-primary" th:href="@{'/updateRiwPen/'+${rp.id}}">Update</a>
                  <a class="btn btn-danger" th:href="@{'/deleteRiwPen/'+${rp.id}}">Delete</a>
                  </td>
              </tr>
          </tbody>
      </table>
  </div>
  <br>
  <div class="container">
      <a class="btn btn-primary" th:href="@{/addRiwPen}">Add Riwayat Pendidikan</a>
  </div>
  <br>
  <div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>nama</th>
                <th>NIP</th>
                <th>Gelar</th>
                <th>Mata Kuliah</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="dsn : ${dosen}">
                <td th:text="${dsn.nama}"> </td>
                <td th:text="${dsn.NIP}"> </td>
                <td th:text="${dsn.gelar}"> </td>
                <td th:text="${dsn.matkuls}"> </td>
                <td>
                    <a class="btn btn-primary" th:href="@{'/updateDosen/'+${dsn.id}}">Update</a>
                  <a class="btn btn-danger" th:href="@{'/deleteDosen/'+${dsn.id}}">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<br>
<div class="container">
    <a class="btn btn-primary" th:href="@{/addDosen}">Add Dosen</a>
  </div> 
    
    
    <script src="/webjars/bootstrap/js/bootstrap.bundle.min.js" type="text/javascript"></script>
</body>
</html>